{% load static %}
<html lang="en">
<head>
    <style>
        body{
      background-image: linear-gradient(to right, rgb(0, 128, 255), #00a6ff);

}
    </style>
    <link href="{% static 'home.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'button.css' %}" rel="stylesheet">
    <meta charset="UTF-8">

</head>
<body>

    <div class="container-fluid text-center">
        {% for mozo in mozoat%}
            <h1>{{ mozo.title }}</h1>
            <audio controls>
            <source src="/static/media/{{ mozo.title }}.mp3" >
            </audio>
            <p>{{ mozo.matn }}</p>
        {% endfor %}


    </div>

</body>
</html>